head(ng-controller="headCtrl")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title(ng-bind="getTitle()")
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="{{getKeywords()}}")
  meta(name="description", content="{{getDescription()}}")
  meta(name="fragment", content="!")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='1443994119164461')
  meta(property='og:title', content='{{getTitle()}}')
  meta(property='og:description', content='{{getDescription()}}')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='BadGateway')
  meta(property='fb:admins', content='APP_ADMIN')
  
  style
    [ng-cloak] { display: none; }
  
  each val in cssFiles
    link(rel='stylesheet', href=val)

  //if lt IE 9
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')