<div class="col-sm-9 box-shadow static-page password-generator" ng-controller="passwordGenerator">
	<h2>Password generator</h2>
	<div class="col-md-6">
		<rating ng-model="passLength" max="passLengthMax" state-on="'glyphicon-stop'" state-off="'glyphicon-stop alpha'"></rating>
		<div>Length: <strong ng-bind="passLength*2"></strong></div>
	</div>
	<div class="col-md-6">
		<rating ng-model="passDifficulty" max="passDifficultyMax" state-on="'glyphicon-stop'" state-off="'glyphicon-stop alpha'"></rating>
		<div>Difficulty: <strong ng-bind="difficultyWord"></strong></div>
	</div>
	<div class="well well-lg col-md-12" ng-bind="password"></div>
	<div class="col-md-12 buttons">
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg" title="Refresh" ng-click="generatePassword()">
				<span class="glyphicon glyphicon-refresh"></span>
				<span class="hidden-xs">Refresh</span>
			</button>
			<button type="button" class="btn btn-primary btn-lg" title="Copy" ng-zeroclip="password">
				<span class="glyphicon glyphicon-arrow-right"></span>
				<span class="glyphicon glyphicon-list-alt"></span>
				<span class="hidden-xs">Copy to Clipboard</span>
			</button>
		</div>
	</div>
</div>

<div class="col-sm-3 hidden-xs" ng-include="'/views/right_nav.html'"></div>
