<table class="table">
	<thead>
		<tr>
			<th>Pattern</th>
			<th>Inserts</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><code>$$</code></td>
			<td>Inserts a "$".</td>
		</tr>
		<tr>
			<td><code>$&amp;</code></td>
			<td>Inserts the matched substring.</td>
		</tr>
		<tr>
			<td><code>$`</code></td>
			<td>Inserts the portion of the string that precedes the matched substring.</td>
		</tr>
		<tr>
			<td><code>$'</code></td>
			<td>Inserts the portion of the string that follows the matched substring.</td>
		</tr>
		<tr>
			<td style="white-space: nowrap;"><code>$<em>n</em></code> or <code>$<em>nn</em></code></td>
			<td>
				<p>Where <code><em>n</em></code> or <code><em>nn</em></code> are decimal digits, inserts the <em>n</em>th parenthesized submatch string, provided the first argument was a <code>RegExp</code> object.</p>
			</td>
		</tr>
	</tbody>
</table>
